footer {
    background-color: #ffffff;
    color: rgb(19, 18, 18);
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    margin: 0;
}
